<div class="po-title">
  <span class="num">Po-45547249</span>
  <span class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</span>
  <span class="share"><i class="fa fa-share-square-o" aria-hidden="true"></i>Share</span>
</div>
<div class="tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">General Info</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Items</a></li>
  </ul>
</div>
<div class="milestone-info">
  <div class="title">
    <span>Milestone Info.</span>
  </div>
  <div class="milestone-overview">
    <div class="milestone-detail">
        <div class="icon">
          <i class="fa fa-ship" aria-hidden="true"></i>
        </div>
        <div class="name">
          <span>Stage Name</span>
        </div>
      <div class="date">
          <span>2021-4-2 14:32:35</span>
      </div>
    </div>
    <div class="milestone-splitter">
      <span>- - - - - - - - - - -</span>
    </div>
    <div class="milestone-detail">
      <div class="icon">
        <i class="fa fa-ship" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>Stage Name</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>
    <div class="milestone-splitter">
      <span>- - - - - - - - - - -</span>
    </div>
    <div class="milestone-detail">
      <div class="icon">
        <i class="fa fa-ship" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>Stage Name</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>
    <div class="milestone-splitter">
      <span>- - - - - - - - - - -</span>
    </div>
    <div class="milestone-detail">
      <div class="icon">
        <i class="fa fa-ship" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>Stage Name</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="documents">
  <div class="title">Documents</div>
  <div class="document-overview">
    <div class="document-detail">
      <div class="icon">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>xxxxxxxxxx.pdf</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>

    <div class="document-detail">
      <div class="icon">
        <i class="fa fa-file-word-o" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>xxxxxxxxxx.pdf</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>

    <div class="document-detail">
      <div class="icon">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </div>
      <div class="name">
        <span>xxxxxxxxxx.pdf</span>
      </div>
      <div class="date">
        <span>2021-4-2 14:32:35</span>
      </div>
    </div>
    <div class="document-add">
      <div class="icon">
        <span>+</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="general-info">
  <div class="title">
    <span>General Info.</span>
  </div>
  <div class="general-info-overview">
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="general-info-detail">
      <div class="detail-label">
        <span>Customer</span>
      </div>
      <div class="detail-content">
        <span>ABCDEFG(USA)Inc</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="ship-info">
  <div class="title">
    <span>Ship Info</span>
  </div>
  <div class="ship-info-overview">
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="ship-info-detail">
      <div class="title">
        <span>Ordered</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
      <div class="content">
        <span class="value">5628</span><span class="unit">Unites</span><span class="value">0</span><span class="unit">UOM</span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
