<div class="create-po-body">
  <div class="title">
    <h3>Create Po</h3>
  </div>
<!--  <ul class="nav nav-tabs" role="tablist">-->
<!--    <li role="presentation" class="active"><a routerLink="./" role="tab" data-toggle="tab">General Info.</a></li>-->
<!--    <li role="presentation"><a  routerLink="./items" role="tab" data-toggle="tab">Items</a></li>-->
<!--  </ul>-->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a routerLink="./" role="tab" data-toggle="tab">General Info</a></li>
    <li role="presentation"><a routerLink="./items" role="tab" >Items</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
