@import "../order-create/order-create.component.css";
@import "../order-list/order-list.component.css";
.item-info{
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #DCE3F1;
  padding: 15px 15px 80px 15px ;
}
.item-info .title{
  color: #42406E !important;
  font-size: 14px;
  font-weight: 600;
}
.item-table{
  margin-top: 10px;
}
.item-info .operation span{
  color: #4282FF;
  margin-left: 15px;
  margin-right: 20px;
}
