<div class="item-info">
  <div class="title">
    <span>Item Info.</span>
  </div>
  <div class="item-table">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Style</th>
        <th>Line Number</th>
        <th>Color</th>
        <th>Color Code</th>
        <th>Size</th>
        <th>UPC</th>
        <th>Description</th>
        <th>HTS Number</th>
        <th>Ship Via</th>
        <th>Ship No Later</th>
        <th>Package/UOM</th>
        <th>Total Unit</th>
        <th>VOL(CBM)</th>
        <th>GWT(KG)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>CS13124993</td>
        <td>0001:02</td>
        <td>Oatmeal</td>
        <td>290</td>
        <td>L</td>
        <td>1235667890</td>
        <td>SLUB COLOR BLOCK STRP TEE COTTON SLUB STRIPE JER</td>
        <td>34141.4122.2</td>
        <td>Sea</td>
        <td>2021-4-6</td>
        <td>Package/UOM</td>
        <td>5EA</td>
        <td>70</td>
        <td>200</td>
      </tr>
      <tr>
        <td>CS13124993</td>
        <td>0001:02</td>
        <td>Oatmeal</td>
        <td>290</td>
        <td>L</td>
        <td>1235667890</td>
        <td>SLUB COLOR BLOCK STRP TEE COTTON SLUB STRIPE JER</td>
        <td>34141.4122.2</td>
        <td>Sea</td>
        <td>2021-4-6</td>
        <td>Package/UOM</td>
        <td>5EA</td>
        <td>70</td>
        <td>200</td>
      </tr>
      <tr>
        <td>CS13124993</td>
        <td>0001:02</td>
        <td>Oatmeal</td>
        <td>290</td>
        <td>L</td>
        <td>1235667890</td>
        <td>SLUB COLOR BLOCK STRP TEE COTTON SLUB STRIPE JER</td>
        <td>34141.4122.2</td>
        <td>Sea</td>
        <td>2021-4-6</td>
        <td>Package/UOM</td>
        <td>5EA</td>
        <td>70</td>
        <td>200</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="operation">
    <span>Add</span>
    <span>Delete</span>
    <span>Copy</span>
  </div>
</div>
