<div class="create-po-body">
  <div class="title">
    <h3>Create Po</h3>
  </div>
  <ul class="nav nav-tabs">
    <li ><a href="#home" data-toggle="tab">General Info.</a></li>
    <li><a href="#profile" data-toggle="tab">Items</a></li>
  </ul>
  <div class="group-name">
    <h4>Group Name 1</h4>
  </div>
  <div class="group">
    <form class="form-horizontal" id = "my_form_active">
      <div class="form-group">
        <div class="row" style="width: 100%">
          <div class="col-lg-4" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-lg-4" style="padding-left: 0;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
          <div class="col-lg-4" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
          <div class="col-md-4" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="group-name">
    <h4>Group Name 2</h4>
  </div>
  <div class="group">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-4" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-lg-4" style="padding-left: 0;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
          <div class="col-lg-4" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-lg-6" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="group-name">
    <h4>Group Name 3</h4>
  </div>
  <div class="group">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-lg-6" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6" style="padding-left: 35px;padding-right: 15px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="PO No">
          </div>
          <div class="col-lg-6" style="padding-left: 0;padding-right: 35px">
            <label class="input-label">Label</label>
            <input type="text" class="form-control input-sm" placeholder="Company No">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <button class="btn-default btn">Cancel</button>
    <button class="btn-danger btn">Cancel</button>
  </div>
<!--  <div class="tab-content">-->
<!--    <div class="tab-pane active" id="home">-->
<!--      <p>我是首页内容</p>-->
<!--    </div>-->
<!--    <div class="tab-pane" id="profile">-->
<!--      <p> 我是最新内容</p>-->
<!--    </div>-->
<!--    <div class="tab-pane" id="message">-->
<!--      <p>我是热门内容</p>-->
<!--    </div>-->
<!--    <div class="tab-pane" id="settings">-->
<!--      <p>我是排行内容</p>-->
<!--    </div>-->
<!--  </div>-->
</div>
